
body {
    background-color: #000000FF;
    font-size: 12px;
    color: #FAEBD7FF;
}
.resultTable{
    border: #DAA520FF 1px solid;
    border-collapse: collapse;
    padding-top: 5px;
}
.resultTableDiv {
    margin-right: 5px;
    border: #DAA520FF 3px solid;
    max-height: 700px;
    overflow-y: auto;
    width: 100%;
}
th {
    border: #DAA520FF 1px solid;
    font-size: 20px;
    color: #FF0000FF;
    position: sticky;
    top: -2px;
    padding-top: 2px;
    background-color: #222233FF;
}
td {
    border: #DAA520FF 1px solid;
}
.toggleViewMore {
    background-color: #222233FF;
    color: #FAEBD7FF;
    width: 130px;
    border: none;
    padding: 5px;
    margin-left: 15px;
}
.toggleViewMore:hover {
    background-color: #333355FF;
}
.wideTableColumn{
    min-width: 250px;
}


@media screen and (max-width: 767px) {
    body {
        background-color: #111111FF;
    }
    .resultTableDiv {
        overflow-x: auto;
        max-height: 500px;
        overflow-y: auto;

    }
}