
body {
    background-color: #000000FF;
    font-size: 12px;
    color: #FAEBD7FF;
}
.navigationBar {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 3px;
}
.headerNavigation{
    text-decoration: underline;
    font-size: 18px;
    margin: 10px;
    padding: 3px;
    background-color: #662222FF;
    color: #FAEBD7FF;
}
.signOutButton{
    margin: 13px;
}
.resultTable{
    border: #DAA520FF 1px solid;
    border-collapse: collapse;
    padding-top: 5px;
}
.resultTableDiv {
    margin-right: 5px;
    border: #DAA520FF 3px solid;
    max-height: 700px;
    overflow-y: auto;
    width: 100%;
}
th {
    border: #DAA520FF 1px solid;
    font-size: 20px;
    color: #FF0000FF;
    position: sticky;
    top: -2px;
    padding-top: 2px;
    background-color: #222233FF;
}
td {
    border: #DAA520FF 1px solid;
}
.toggleViewMore {
    background-color: #222233FF;
    color: #FAEBD7FF;
    width: 130px;
    border: none;
    padding: 5px;
    margin-left: 15px;
}
.toggleViewMore:hover {
    background-color: #333355FF;
}
.wideTableColumn{
    min-width: 250px;
}
.SignInSignUpFormsDiv{
    float: left;
    padding-left: 45px;
    padding-bottom: 20px;
}
.characterSelector{
    font-size: 20px;
    padding: 3px;
    background-color: #552020ff;
    float: left;
    margin: 2px;
}
.defense{
    text-align: center;
    font-size: 18px;
    background-color: #552020ff;
    border-radius: 3px;
}
.statAndDefenseBoxes{
    margin: 10px;
    border: #DAA520FF 2px solid;
    border-radius: 5px;
    width: 198px;
}
.statAndDefenseBoxesDIV{
    display: flex;
    flex-direction: row;
}
.pairedStatsDiv{
    display: flex;
    flex-direction: row;
    align-content: center;
    label {
        text-align: center;
    }
}
.statInputBox{
    text-align: center;
    width: 91px;
}
.inventoryBox{
    resize: none;
    margin: 10px;
    width: 640px;
    height: 250px;
}
.deleteCharacterBox{
    background-color: #773535ff;
    margin: 20px;
    padding: 10px;
    width: 600px;
}
.hpBar{
    width: 70px;
}

@media screen and (max-width: 767px) {
    body {
        background-color: #111111FF;
    }
    .resultTableDiv {
        overflow-x: auto;
        max-height: 500px;
        overflow-y: auto;
    }
    .SignInSignUpFormsDiv {
        float: none;
        margin-top: 45px;
    }
    .statAndDefenseBoxes{
        width: 300px;
    }
    .statAndDefenseBoxesDIV{
        flex-direction: column;
    }
    .statInputBox{
        width: 142px;
    }
    .inventoryBox{
        width: 300px;
        height: 250px;
    }
}