
body {
    background-color: #000000;
    font-size: 12px;
    color: #FAEBD7FF;
}
.resultTable{
    border: #DAA520FF 1px solid;
    border-collapse: collapse;
    padding-top: 5px;
}
th {
    border: #DAA520FF 1px solid;
    font-size: 20px;
    color: #FF0000FF;
    position: sticky;
    top: -2px;
    padding-top: 2px;
    background-color: #222233FF;
}
td {
    border: #DAA520FF 1px solid;
}
.toggleViewMore {
    background-color: #222233FF;
    color: #FAEBD7FF;
    width: 130px;
    border: none;
    padding: 5px;
    margin-left: 15px;
}
.toggleViewMore:hover {
    background-color: #333355FF;
}